*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  --color-primary: #e6aa3d;
  --color-primary-dark: #cd9224;
  --color-secondary: #252525;
  --color-heading: #252525;
  --color-body: #89887f;
  --color-body-light: #89887f6f;

  --content-width: 1260px;
  --content-width-small: 850px;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

img {
  vertical-align: top;
}

p {
  color: var(--color-body);
}

/*********************************** CONTAINER ***********************************/
.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 2rem;
}

/*********************************** ICON ***********************************/
.icon {
  width: 20px;
  height: 20px;
  color: var(--color-secondary);
}

.icon--primary {
  color: var(--color-primary);
}

.icon--white {
  color: #fff;
}

.icon--small {
  width: 15px;
  height: 15px;
}

/*********************************** BUTTON ***********************************/
.btn {
  background: transparent;
  border: none;
  color: var(--color-heading);
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 1.2rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
  transition: 0.2s;
}

.btn--primary .icon {
  color: #fff;
}

.btn--primary:hover,
.btn--primary:focus-visible {
  background-color: var(--color-primary-dark);
}

.btn--icon {
  text-transform: none;
  letter-spacing: 0;
}

.btn--icon,
.btn--icon .icon {
  padding: 0;
  transition: color 0.2s;
}

.btn--icon,
.btn--icon-round {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.btn--icon:hover,
.btn--icon:hover .icon,
.btn--icon:focus-visible,
.btn--icon:focus-visible .icon {
  color: var(--color-primary);
}

.btn--icon-round {
  background-color: var(--color-body);
  border-radius: 100%;
  padding: 0.8rem;
  transition: 0.2s;
  outline: none;
}

.btn--icon-round .icon {
  color: #fff;
}

.btn--icon-round:hover,
.btn--icon-round:focus-visible {
  background-color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .btn--primary {
    padding: 1rem 1.5rem;
  }
}

/*********************************** MEDIA OBJECT ***********************************/
.media {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  outline: 1px solid var(--color-body-light);
  padding: 2rem;
  text-align: start;
  width: 100%;
}

.media__icon {
  width: 4rem;
}

.media__heading {
  color: var(--color-heading);
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.media__desc {
  color: var(--color-body);
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .media__heading {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .media__desc {
    font-size: 1.2rem;
  }

  .media__icon {
    width: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .media__icon {
    width: 4rem;
  }
}

/*********************************** INSTAGRAM POST ***********************************/
.insta-post {
  position: relative;
  width: max-content;
  max-width: 250px;
}

.insta-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.insta-post__handle {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.3s;
  width: 100%;
}

.insta-post__handle p {
  color: #fff;
}

.insta-post__handle:hover {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.insta-post__handle svg {
  fill: #fff;
  width: 20%;
  height: 20%;
}

/*********************************** HEADING ***********************************/
.heading {
  color: var(--color-heading);
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
  position: relative;
}

.heading::after {
  background-color: var(--color-primary);
  border-radius: 10px;
  content: "";
  height: 0.3rem;
  left: 50%;
  position: absolute;
  top: 108%;
  transform: translateX(-50%);
  width: 6rem;
}

/*********************************** TAB ***********************************/
.tab {
  color: var(--color-body-light);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  outline: none;
  transition: 0.2s;
  width: max-content;
}

.tab--selected {
  color: var(--color-heading);
  position: relative;
}

.tab--selected::after {
  background-color: var(--color-heading);
  border-radius: 10px;
  content: "";
  height: 0.3rem;
  left: 0;
  position: absolute;
  top: 105%;
  width: 100%;
}

.tab:hover,
.tab:focus-visible {
  color: var(--color-heading);
}

/*********************************** CARD ***********************************/
.card {
  height: 100%;
  position: relative;
  outline: none;
  width: 100%;
}

.card__pic {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card__title {
  background-color: #fff;
  color: var(--color-heading);
  font-size: 2rem;
  font-weight: 600;
  left: 50%;
  padding: 1rem 2.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.card::after {
  border: 1rem solid rgba(255, 255, 255, 0.6);
  content: "";
  height: 0%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-out;
  width: 0%;
}

.card:hover::after,
.card:focus-visible::after {
  height: 80%;
  width: 80%;
}

/*********************************** TAG ***********************************/
.tag {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  text-transform: uppercase;
}

.tag--success {
  background-color: rgb(2, 131, 2);
}

.tag--danger {
  background-color: rgb(176, 41, 41);
}

/*********************************** LIST ***********************************/
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.list--vertical {
  align-items: start;
  flex-direction: column;
  gap: 1.5rem;
}

.list--horizontal {
  flex-direction: row;
  gap: 2rem;
}

/*********************************** BLOG ***********************************/
.blog {
  width: 100%;
  text-align: start;
}

.blog__thumbnail {
  width: 100%;
  margin-bottom: 2rem;
}

.blog__date,
.blog__comment {
  align-items: center;
  color: var(--color-body);
  display: inline-flex;
  font-size: 1.4rem;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.7rem;
  margin-right: 1rem;
}

.blog__title {
  color: var(--color-heading);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.blog__excerpt {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .blog__title {
    font-size: 1.8rem;
  }

  .blog__date,
  .blog__comment {
    font-size: 1.2rem;
  }
}

/*********************************** PRODUCT ***********************************/
.product {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.product__pic-container {
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
}

.product__pic {
  width: 100%;
}

.product__full-price,
.product__category {
  color: var(--color-body);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product__full-price {
  margin-left: 0.5rem;
  text-decoration: line-through;
  font-weight: 400;
}

.product__label {
  color: var(--color-heading);
  font-weight: 500;
  margin: 0.8rem 0 0.5rem 0;
}

.product__sale-price {
  color: var(--color-primary);
  font-weight: 500;
}

.product__wishlist-btn {
  position: absolute;
  top: -10%;
  right: 5%;
  transition: 0.2s;
}

.product:hover .product__wishlist-btn,
.product:focus-visible .product__wishlist-btn {
  top: 3%;
}

.product__action-bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  left: 50%;
  height: 13%;
  transform: translateX(-50%);
  transition: transform 0.2s;
}

.product:hover .product__action-bar,
.product:focus-visible .product__action-bar {
  transform: translate(-50%, -100%);
}

.product__cart,
.product__swap,
.product__quick-view {
  height: 100%;
  padding: 0 0.8rem;
  white-space: nowrap;
}

.product__swap,
.product__quick-view {
  background-color: #fff;
  text-transform: capitalize;
  letter-spacing: 0;
}

.product__quick-view {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .product__quick-view {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .product__quick-view {
    font-size: 1.4rem;
  }

  .product__action-bar {
    height: 8%;
    width: 60%;
  }
}

/*********************************** PRODUCT CAROUSEL ***********************************/
.product-carousel *:focus-visible {
  outline: none;
}

/*********************************** BANNER ***********************************/
.banner {
  position: relative;
  width: 100%;
}

.banner__pic {
  width: 100%;
  min-height: 450px;
  object-fit: cover;
}

.banner__title,
.banner__cta {
  color: #fff;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.banner__title {
  font-size: 3rem;
  font-weight: bold;
  top: 50%;
}

.banner__cta {
  font-size: 1.4rem;
  text-decoration: underline;
  top: 60%;
  transition: 0.2s;
  outline: none;
  white-space: nowrap;
}

.banner__cta:hover,
.banner__cta:focus-visible {
  letter-spacing: 1.5px;
}

/*********************************** TIMER ***********************************/
.timer {
  align-items: center;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  width: 300px;
  margin: auto;
}

.timer__segment {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  justify-content: center;
  padding: 0.5rem;
  width: 25%;
}

.timer__time {
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: bold;
}

.timer__label {
  color: var(--color-body);
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*********************************** SEARCH BAR ***********************************/
.search-bar {
  border: 1px solid var(--color-body-light);
  display: flex;
  justify-content: center;
  min-width: 60%;
}

.search-bar__categories,
.search-bar__search {
  font-size: 1.4rem;
  padding: 1rem;
}

.search-bar__categories {
  padding-right: 2rem;
}

.search-bar__search {
  border-left: 1px solid var(--color-body-light);
  flex-grow: 1;
  margin-left: 1rem;
}

.search-bar__icon {
  padding: 1rem;
}

/*********************************** GRID ***********************************/
.grid {
  display: grid;
}

.grid--2cols {
  grid-template-columns: repeat(2, max-content);
}

.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.grid--4cols {
  grid-template-columns: repeat(4, max-content);
  column-gap: 2rem;
  row-gap: 3rem;
}

@media screen and (max-width: 768px) {
  .grid--4cols {
    grid-template-columns: repeat(2, max-content);
    column-gap: 3rem;
  }
}

@media screen and (max-width: 510px) {
  .grid--3cols {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .grid--4cols {
    grid-template-columns: 1fr;
  }
}

/*********************************** DROPDOWN ***********************************/
.dropdown {
  width: max-content;
  min-width: max-content;
  position: relative;
  font-size: 1.4rem;
}

.dropdown img,
.dropdown .icon {
  left: 1rem;
  pointer-events: none;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.dropdown select {
  outline: none;
  appearance: none;
  background-color: #fff;
  color: var(--color-heading);
  cursor: pointer;
  height: 100%;
  padding: 0.5rem 4rem;
  width: 100%;
}

.dropdown::after {
  content: "";
  border: 0.5rem solid transparent;
  border-top-color: var(--color-secondary);
  pointer-events: none;
  position: absolute;
  right: 1rem;
  top: 40%;
}

.dropdown select:focus-visible {
  outline: 1px solid #000;
}

.dropdown--dark select {
  background-color: var(--color-secondary);
  color: #fff;
}

.dropdown--dark::after {
  border-top-color: #fff;
}

.dropdown--dark select:focus-visible {
  outline: 1px solid #fff;
}

/*********************************** SLIDER STYLES FOR PRODUCTS ***********************************/
.slick-slider {
  max-width: 100%;
  padding: 4rem;
}

.slick-slide {
  padding: 0 0.5rem;
}

.slick-arrow {
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 35%;
  opacity: 0.5;
  outline: none;
  transition: 0.2s;
  z-index: 1;
}

.slick-prev {
  background-image: url("./assests/img/icons/chevron-left.svg");
  left: 0;
}

.slick-next {
  background-image: url("./assests/img/icons/chevron-right.svg");
  right: 0;
}

.slick-arrow:hover,
.slick-arrow:focus-visible {
  opacity: 1;
}

.slick-disabled {
  display: none !important;
}

.slick-dots {
  bottom: 0;
  left: 0;
  list-style: none;
  position: absolute;
  text-align: center;
  width: 100%;
}

.slick-dots li {
  display: inline-block;
  margin: 0 0.2rem;
}

.slick-dots button {
  background-color: var(--color-secondary);
  border-radius: 100%;
  color: transparent;
  height: 5px;
  opacity: 0.25;
  transition: 0.2s;
  width: 5px;
}

.slick-dots .slick-active button {
  border-radius: 10px;
  opacity: 0.8;
  width: 20px;
}

@media screen and (max-width: 500px) {
  .display-section .slick-slider {
    padding: 2rem 0;
  }
  .display-section .slick-arrow {
    margin: 1rem;
  }
}

/*********************************** LOGO ***********************************/
.logo {
  width: 80px;
}

/*********************************** INFO BAR SECTION ***********************************/
.info-bar {
  border: 1px solid var(--color-body-light);
  padding: 0 2rem;
}

.info-bar__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  gap: 2rem;
  max-width: var(--content-width-small);
  margin: auto;
}

.info-bar__social-links {
  display: flex;
  gap: 1.5rem;
}

.info-bar__mid-section {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid var(--color-body-light);
  border-right: 1px solid var(--color-body-light);
  padding: 0 2rem;
}

.info-bar__lang {
  border-right: 1px solid var(--color-body-light);
  height: 100%;
  max-width: max-content;
}

@media screen and (max-width: 768px) {
  .info-bar__mid-section {
    padding: 0 1rem;
  }

  .info-bar__content,
  .info-bar__social-links {
    gap: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .info-bar__content {
    justify-content: end;
  }

  .info-bar__email,
  .info-bar__mid-section {
    display: none;
  }
}

/*********************************** LOGO BAR SECTION ***********************************/
.logo-bar {
  align-items: center;
  display: flex;
  gap: 2rem;
  height: 8rem;
  justify-content: space-between;
  max-width: var(--content-width-small);
  margin: auto;
}

.logo-bar__purchase-detail {
  align-items: center;
  display: flex;
  font-weight: 600;
  gap: 1.5rem;
}

.logo-bar__btn {
  position: relative;
}

.logo-bar__btn span {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 100%;
  color: #fff;
  display: flex;
  font-size: 1rem;
  height: 1.5rem;
  justify-content: center;
  position: absolute;
  right: -8px;
  top: -5px;
  width: 1.5rem;
}

@media screen and (max-width: 650px) {
  .logo-bar {
    flex-direction: column;
    height: auto;
    padding: 2rem 0;
  }

  .logo-bar .search-bar {
    width: 100%;
  }

  .logo-bar__purchase-detail {
    align-self: flex-start;
  }
}

/*********************************** NAVBAR SECTION ***********************************/
.nav {
  background-color: var(--color-secondary);
  padding: 0 2rem;
}

.nav__btn {
  display: none;
}

.nav__links {
  align-items: center;
  display: flex;
  height: 4.5rem;
  justify-content: center;
  max-width: var(--content-width-small);
  margin: auto;
}

.nav__link {
  align-items: center;
  border: 1px solid var(--color-body-light);
  color: #fff;
  display: flex;
  flex-grow: 1;
  font-weight: normal;
  height: 100%;
  justify-content: center;
  outline: none;
  transition: 0.2s;
}

.nav__link:focus-visible {
  background-color: var(--color-body);
}

.nav__departments {
  height: 100%;
}

.nav__departments select {
  background-color: #494949;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .nav__links {
    height: 3.5rem;
  }

  .nav__link {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .nav__departments {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 650px) {
  .nav {
    width: max-content;
    margin-left: auto;
    height: 0;
  }

  .nav__btn {
    translate: 0 -140%;
    display: flex;
    color: #ffd;
    background-color: var(--color-heading);
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1rem;
    transition: 0.2s;
  }

  .nav__btn:hover,
  .nav__btn:focus-visible {
    background-color: var(--color-primary);
  }

  .nav__links {
    display: none;
  }
}

/*********************************** CATEGORIES SECTION ***********************************/
.categories {
  margin: 4rem auto;
}

/*********************************** INSTAGRAM GALLERY SECTION ***********************************/
.insta-gallery {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  min-height: 200px;
}

@media screen and (max-width: 768px) {
  .insta-gallery {
    flex-wrap: wrap;
  }

  .insta-gallery .insta-post {
    width: 33%;
  }
}

@media screen and (max-width: 500px) {
  .insta-gallery .insta-post {
    width: 50%;
  }
}

/*********************************** BLOG SECTION ***********************************/
.blog-section {
  margin: 8rem auto;
  max-width: var(--content-width-small);
  text-align: center;
}

@media screen and (max-width: 510px) {
  .blog-section {
    margin: 6rem auto;
  }
}

/*********************************** QUALITITES SECTION ***********************************/
.qualities {
  align-items: stretch;
  border: 1px solid var(--color-body-light);
  display: flex;
  justify-content: space-around;
  margin: 8rem auto;
  max-width: var(--content-width-small);
}

@media screen and (max-width: 510px) {
  .qualities {
    flex-direction: column;
    margin: 5rem auto;
  }

  .qualities .media {
    outline: none;
  }
}

/*********************************** SPONSOR CAROUSEL SECTION ***********************************/
.sponsor-section {
  background-color: var(--color-secondary);
  padding: 2.5rem 0;
}

.sponsors {
  align-items: center;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  margin: auto;
  max-width: var(--content-width-small);
}

.sponsors img {
  width: 15%;
  max-width: 125px;
}

@media screen and (max-width: 768px) {
  .sponsor-section {
    padding: 1.5rem 0;
  }
}

@media screen and (max-width: 510px) {
  .sponsors img {
    width: 30%;
  }

  .sponsors img:nth-child(even) {
    display: none;
  }
}

/*********************************** DEAL SECTION ***********************************/
.deal-section {
  background: url("./assests/img/backgrounds/time-bg.jpg");
  background-size: cover;
  background-position: center;
  margin: 4rem auto;
  padding: 5rem;
}

.deal-section__content-container {
  max-width: var(--content-width-small);
  margin: auto;
}

.deal-section__content {
  max-width: 40%;
  text-align: center;
}

.deal-section__desc {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.deal-section__price {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.deal-section__price span {
  color: var(--color-body);
  font-size: 1.4rem;
  font-weight: normal;
}

.deal-section__btn {
  margin-top: 3.5rem;
}

@media screen and (max-width: 768px) {
  .deal-section__content {
    max-width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .deal-section__content {
    max-width: 100%;
  }
}

/*********************************** DISPLAY SECTION ***********************************/
.display-section {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin: 6rem auto;
}

.display-section__banner {
  align-self: baseline;
  width: 30%;
}

.display-section__carousel {
  width: 65%;
}

.display-section__tabs {
  margin-top: 2rem;
}

@media screen and (max-width: 500px) {
  .display-section {
    flex-direction: column;
  }
  .display-section__banner,
  .display-section__carousel {
    width: 100%;
  }
}

/*********************************** HERO SECTION ***********************************/
.hero-carousel.slick-slider {
  padding: 0;
}

.hero-carousel .slick-arrow {
  top: 40%;
  margin: 2rem;
}

.hero-section__img {
  width: 100%;
  min-width: 1000px;
}

.hero-section {
  position: relative;
}

.hero-section__content {
  width: var(--content-width-small);
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-section__heading {
  font-size: 6rem;
  font-weight: 500;
  color: var(--color-heading);
  margin-bottom: 1rem;
}

.hero-section__subheading {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase;
}

.hero-section__desc {
  line-height: 1.8;
  margin-bottom: 3rem;
  max-width: 50%;
}

.hero-section__decoration {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 100%;
  border: 3px dotted #fff;
  color: #fff;
  display: flex;
  font-size: 2.5rem;
  height: 100px;
  left: 50%;
  outline: 4px solid var(--color-primary);
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 20%;
  transform: translate(-40%, 0%);
  white-space: wrap;
  width: 100px;
}

@media screen and (max-width: 950px) {
  .hero-section__content {
    left: 0;
    transform: translate(0, -50%);
    margin-left: 4rem;
  }

  .hero-section__heading {
    font-size: 5rem;
    margin-bottom: 0.5rem;
  }

  .hero-carousel .slick-arrow {
    margin: 0.5rem;
  }

  .hero-section__decoration {
    left: 450px;
  }
}

@media screen and (max-width: 500px) {
  .hero-section__decoration {
    display: none;
  }

  .hero-section__desc {
    max-width: 40%;
  }
}

/*********************************** FOOTER SECTION ***********************************/
.footer-section {
  background-color: #000;
  padding: 5rem 0;
}

.footer {
  max-width: var(--content-width-small);
  color: #fff;
  margin: auto;
  font-size: 1.4rem;
  align-items: start;
  justify-content: space-between;
}

.footer ul:last-child {
  width: 280px;
}

.footer__logo {
  margin-bottom: 1rem;
  width: 80px;
}

.footer__title {
  font-weight: 400;
  opacity: 0.98;
  margin-bottom: 1rem;
}

.footer__link {
  color: var(--color-body);
  transition: 0.2s;
  text-decoration: none;
  text-align: start;
  outline: none;
}

.footer__link:hover,
.footer__link:focus-visible {
  color: var(--color-primary);
}

.footer__socials {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.footer__subscribe {
  display: flex;
}

.footer__subscribe .btn {
  font-size: 1.2rem;
}

.footer__input {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--color-secondary);
  color: #fff;
  outline: none;
  transition: 0.2s;
  flex-shrink: 1;
  width: 100%;
}

.footer__input:focus-visible,
.footer__input:hover {
  background-color: var(--color-body-light);
}

/*********************************** COPYRIGHT BAR SECTION ***********************************/
.copyright-bar {
  font-size: 1.4rem;
  background-color: #000;
  border-top: 1px solid var(--color-body-light);
}

.copyright-bar__content {
  justify-content: space-between;
  display: flex;
  margin: auto;
  max-width: var(--content-width-small);
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}

.copyright-bar__content img {
  width: 200px;
}

@media screen and (max-width: 510px) {
  .copyright-bar__content {
    flex-direction: column;
    text-align: center;
  }

  .copyright-bar__content img {
    width: 60%;
  }
}
