<div class="timer">
  <div class="timer__segment">
    <span class="timer__time">29</span>
    <span class="timer__label">days</span>
  </div>
  <div class="timer__segment">
    <span class="timer__time">13</span>
    <span class="timer__label">hrs</span>
  </div>
  <div class="timer__segment">
    <span class="timer__time">07</span>
    <span class="timer__label">mins</span>
  </div>
  <div class="timer__segment">
    <span class="timer__time">57</span>
    <span class="timer__label">secs</span>
  </div>
</div>
